NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_API_KEY_AUTH_DOMAIN=
NEXT_PUBLIC_API_KEY_PROJECT_ID=
NEXT_PUBLIC_API_KEY_STORAGE_BUCKET=
NEXT_PUBLIC_API_KEY_MESSAGING_SENDER_ID=
NEXT_PUBLIC_API_KEY_APP_ID=
NEXT_PUBLIC_API_KEY_MEASUREMENT_ID=